.collapse__Accommodation {
  display: flex;
  margin-left: 5%;
  margin-bottom: 60%;
  position: relative;
  bottom: 75px;
  .collapse__container__Accommodation {
    border-radius: 20px;
    width: 95%;
    .collapse__map__Accommodation {
      color: $color-primary;
      .collapse__content__Accommodation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-primary;
        color: $white;
        padding: 15px;
        height: 30px;
        border-radius: 5px;
        margin-bottom: 20px;
        position: relative;
        top: 10px;
        font-size: 0.813rem;
      }

      .collapse__description__Accommodation {
        font-size: 0.75rem;
        background-color: #f6f6f6;
        position: relative;
        border-radius: 5px;
        padding: 15px;
        top: -10px;
      }
      .collapse__content__equipments {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-primary;
        color: $white;
        padding: 15px;
        height: 30px;
        border-radius: 5px;
        font-size: 0.813rem;
        position: relative;
        z-index: 1;
      }
      .collapse__description__equipments {
        font-size: 0.75rem;
        background-color: #f6f6f6;
        position: relative;
        top: -10px;
        border-radius: 5px;
      }
    }
  }
}

//large smartphone
@media screen and (min-width: 426px) and (max-width: 768px) {
  .collapse__Accommodation {
    bottom: 150px;
    .collapse__container__Accommodation {
      width: 95%;
    }
  }
}

//tablette
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .collapse__Accommodation {
    width: 90%;
    bottom: 200px;
    height: 20%;

    .collapse__container__Accommodation {
      border-radius: 20px;
      width: 100%;
      .collapse__container__grid {
        .collapse__map__Accommodation {
          display: flex;
          flex-direction: column;
          .collapse__content__Accommodation,
          .collapse__content__equipments {
            height: 52px;
            width: 45%;
            .collapse__title__Accommodation {
              font-size: 1.125rem;
            }
          }
          .collapse__description__Accommodation,
          .collapse__description__equipments {
            font-size: 1.125rem;
            width: 45%;
            top: -30px;
          }
          .collapse__content__equipments {
            position: absolute;
            top: 10px;
            z-index: 100;
            left: 55%;
          }
          .collapse__description__equipments {
            top: 50px;
            position: absolute;
            left: 55%;
          }
        }
      }
    }
  }
}

//desktop
@media screen and (min-width: 1024px) {
  .collapse__Accommodation {
    width: 90%;
    bottom: 300px;
    margin-bottom: 10%;
    .collapse__container__Accommodation {
      border-radius: 20px;
      width: 100%;
      .collapse__container__grid {
        .collapse__map__Accommodation {
          display: flex;
          flex-direction: column;
          .collapse__content__Accommodation,
          .collapse__content__equipments {
            height: 52px;
            width: 45%;
            .collapse__title__Accommodation {
              font-size: 18px;
            }
          }
          .collapse__description__Accommodation,
          .collapse__description__equipments {
            font-size: 18px;
            width: 45%;
            top: -28px;
          }
          .collapse__content__equipments {
            left: 55%;
            position: absolute;
            top: 10px;
            z-index: 100;
            width: 45%;
          }
          .collapse__description__equipments {
            left: 55%;
            top: 50px;
            position: absolute;
          }
        }
      }
    }
  }
}
