.collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100%;
  width: 100%;
  .collapse__container {
    border-radius: 20px;
    width: 90%;
    .collapse__map {
      color: $color-primary;
      padding: 5px;
      .collapse__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-primary;
        color: $white;
        padding: 15px;
        height: 30px;
        border-radius: 5px;
        font-size: 0.81rem;
      }
      .collapse__description {
        padding: 15px;
        font-size: 0.75rem;
        background-color: #f6f6f6;
        position: relative;
        top: -10px;
        border-radius: 5px;
      }
    }
  }
}

//Large smmartphone
@media screen and (min-width: 426px) and (max-width: 767px) {
  .collapse {
    width: 95%;
    position: relative;
    left: 2%;
  }
}

//Tablette
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .collapse {
    margin-bottom: 60%;
    .collapse__container {
      position: relative;
      top: 30px;
      width: 95%;
      .collapse__map {
        .collapse__content {
          height: 40px;
          font-size: 1.15rem;
        }
        .collapse__description {
          font-size: 1.15rem;
          top: -20px;
        }
      }
    }
  }
}

//Desktop
@media screen and (min-width: 1024px) {
  .collapse {
    margin-bottom: 100%;
    .collapse__container {
      position: relative;
      top: 50px;
      width: 85%;
      height: 180px;
      .collapse__map {
        .collapse__content {
          height: 180px;
        }
        .collapse__content {
          height: 47px;
          font-size: 1.5rem;
        }
        .collapse__description {
          font-size: 1.5rem;
          top: -20px;
        }
      }
    }
  }
}
