.location__Container {
  width: 90%;
  position: relative;
  left: 6%;
  bottom: 160px;
  .location__p {
    font-size: 0.875rem;
    color: $color-primary;
    font-weight: 500;
  }
}

//Large smartphone
@media screen and (min-width: 426px) and (max-width: 768px) {
  .location__Container {
    bottom: 170px;
    left: 37px;
  }
}

//Tablette
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .location__Container {
    bottom: 200px;
    left: 5%;
    .location__p {
      font-size: 0.938rem;
    }
  }
}

//Desktop
@media screen and (min-width: 1024px) {
  .location__Container {
    bottom: 300px;
    left: 5%;
    .location__p {
      font-size: 1.125rem;
      color: $color-primary;
      font-weight: 500;
    }
  }
}
