.tags__container {
  display: flex;
  position: relative;
  bottom: 205px;
  gap: 10px;
  margin-left: 25px;
  .tags__content {
    width: 22%;
    height: 18px;
    background-color: $color-primary;
    border-radius: 5px;
    .tags__content__p {
      .tags__p {
        position: relative;
        bottom: 8px;
        font-size: 0.625rem;
        color: white;
        text-align: center;
      }
    }
  }
}

//Large smartphone
@media screen and (min-width: 426px) and (max-width: 768px) {
  .tags__container {
    bottom: 380px;
  }
}

//Tablette
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .tags__container {
    display: flex;
    position: relative;
    bottom: 240px;
    gap: 10px;
    .tags__content {
      width: 15%;
      height: 25px;
      border-radius: 10px;
      .tags__content__p {
        .tags__p {
          bottom: 10px;
          font-size: 14px;
        }
      }
    }
  }
}

//Desktop
@media screen and (min-width: 1024px) {
  .tags__container {
    display: flex;
    position: relative;
    bottom: 380px;
    width: 90%;
    left: 5%;
    .tags__content {
      height: 25px;
      border-radius: 10px;
      .tags__content__p {
        .tags__p {
          bottom: 10px;
          font-size: 0.875rem;
        }
      }
    }
  }
}
